/* Common Styles */
.navigation-wrapper {
    height: 190px;
    background-color: #11122b;
    color: #fff;
    /* flex container */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 60px;
}
.navigation-wrapper >.left-column {
    display: flex;
    align-items: center;
 }
 
 .navigation-wrapper > .left-column > .phone-icon {
     margin: 10px;
 }
 
 .navigation-wrapper > .left-column > .phone-icon i {
 font-size: 2.4em;
 color: #fff;
 }
 
 .navigation-wrapper > .left-column > .phone-icon i:hover {
      color: #05e386;
 }
 
 .navigation-wrapper > .left-column > .contact-wrapper >.phone-number a{
     text-decoration: none;
     color: #fff;
 }
 
 .navigation-wrapper > .left-column > .contact-wrapper >.phone-number a:hover{
     color: #05e386;
 }
 
 .navigation-wrapper >.left-column > .contact-wrapper {
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 20px;
 }
 
 .navigation-wrapper >.left-column >.contact-wrapper > .hours {
     font-family: "Ubuntu", sans-serif;
     color: #cbcbcb;
     font-size: 0.8em;
 }
 
 /* Center Column */
 .navigation-wrapper > .center-column > .banner-image {
     display: flex;
     justify-content: center;
 }
 
 .navigation-wrapper > .center-column >.banner-image img {
     width: 140px;
     height: 90%;
 }
 
 .links-wrapper {
    letter-spacing: 1px;
     display: flex;
     justify-content: space-between;
     align-items: center;
    padding-right: 40px;
 }
 
 .links-wrapper > .nav-link {
     width: 100px;
     text-align: center;
 }
 
 .links-wrapper > .nav-link a {
     font-family: "Ubuntu", sans-serif;
     color: #cbcbcb;
     text-decoration: none;
     transition: 0.5s;
 }
 
 .links-wrapper > .nav-link a:hover {
     color: #05e386;
     letter-spacing: 3px;
 }

  .links-wrapper > .nav-link a:active {
     color: #05e386;
  }
 
  .navigation-wrapper > .center-column {
     display: grid;
     grid-template-columns: 1fr;
     grid-gap: 22px;
     width: 500px;
 }
 
 /* Right Column */
 .navigation-wrapper >.left-column {
     display: flex;
     align-items: center;
  }
 
 .navigation-wrapper >.right-column {
    display: flex;
    align-items: center;
 }
 
 .links-wrapper > .nav-link a {
     font-family: "Ubuntu", sans-serif;
     display: flex;
 }
 
 .navigation-wrapper > .right-column {
     align-items: center;
 }
 
 .navigation-wrapper > .right-column > .address-wrapper a{
     font-family: "Ubuntu", sans-serif;
     color: #cbcbcb;
     text-decoration: none;
     font-size: 0.8em;
     text-align: right;
 }
 
 .navigation-wrapper > .right-column > .address-wrapper a:hover {
     color: #05e386;
 }
 
 .navigation-wrapper > .right-column > .map-icon {
     margin-left: 10px;
 }
 
 .navigation-wrapper > .right-column > .map-icon i{
     font-size: 2em;
     color: #fff;
     transition: 0.5s;
 }
 
 .navigation-wrapper > .right-column > .map-icon i:hover{
     color: #05e386;
 }
 
 
 
 
 