/* Skewed Header - About Page */
.skewed-header {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.skewed-header > .header-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    filter: brightness(30%);
}

.skewed-header > .skewed-header-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.skewed-header > .skewed-header-wrapper > .skewed-header-content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.skewed-header > .skewed-header-wrapper > .skewed-header-content > .heading-wrapper {
    background-color: #d61010;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 180px;
    padding: 4px;
    margin-left: 40px;
    text-align: center;
}  